<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secretariat</title>
</head>
<body>
<h1>Admin Page</h1>

<form action="/action">
	<button type="submit" name="choice" value="service">Add new service</button><br>
	Secretariat name:<input type="text" name="secname">
	<button type="submit" name="choice" value="edit">Edit secretariat information</button><br>
	<button type="submit" name="choice" value="add">Add secretariat</button><br>
	<button type="submit" name="choice" value="logs">Check site Logs</button><br>
</form>

</body>
</html>