<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home Page</h1>

<form action="/action">
	Room name:<input type="text" name="room_name">
	<button type="submit" name="choice" value="rooms">Rooms</button><br>
	<button type="submit" name="choice" value="canteen">Canteen</button><br>
	<button type="submit" name="choice" value="sec">Secretariat</button><br>
</form>

<h3>Admin Login</h3>
<form action="/submit">
	User Name:<input type="text" name="user"><br>
	Password:<input type="password" name="pass"><br>
	<input type="submit">
</form>

</body>
</html>